parameters:
    level: 8
    paths:
        - src/
    ignoreErrors:
        - '#Unsafe usage of new static\(\).#'
        - '#Parameter \#3 \$offset of function strpos expects int, int\<0, max\>\|false given.#'